@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

#home {
  height: 100vh;
  padding-top: 5rem;
  background-color: #647c90;
  font-family: 'Roboto Mono', monospace;
}

#contact {
  height: 100vh;
  padding-top: 5rem;
  background-color: #e7d2cc;
  font-family: 'Roboto Mono', monospace;
  display: flex;
}

#projects {
  height: 400vh;
  width: 100vw;
  background-color: #c6d57e;
  display: flex;
  font-family: 'Roboto Mono', monospace;
}

#nav {
  position: fixed;
  height: 8vh;
  font-family: 'Roboto Mono', monospace;
}
html {
  scroll-behavior: smooth;
}

/* .container {
  flex-wrap: wrap;
  width: 100vw;
}
.home-text {
  color: #e2ded0;
}

.card {
  background-color: #817777;
  min-width: 0;
}

.project {
  color: #e6d1ab;
}

.link {
  background-color: #d8b370;
} */

.project-title {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  position: sticky;
  top: 0;
  pointer-events: none;
}

.project-pages {
  width: 50%;
}

.project-pages div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  padding: 3rem;
  padding-top: 7rem;
}

.p1 {
  background-color: #ffe1af;
}

.p2 {
  background-color: #a2cdcd;
}

.p3 {
  background-color: #d57e7e;
}

.p4 {
  background-color: #9d84b7;
}

.contact-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info {
  width: 60%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
